.produtos {
    padding: 50px 0;
}

.produtos li {
    border: 2px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
    margin:  0 1.5%;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top;
    width: 30%;
}

.produtos li:hover {
    border-color: orange;
}

.produtos li:active {
    border-color: cyan;
}

.produtos li:hover h2 {
    font-size: 30px;
}

.produtos li h2 {
    font-size: 28px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .produtos li {
        display: block;
        margin: 1em auto;
        width: 90%;
    }
}